<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506673235433-uo59ffhi9vsv1m1f0c5p24duet1i3jin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506673235433-uo59ffhi9vsv1m1f0c5p24duet1i3jin</string>
	<key>API_KEY</key>
	<string>AIzaSyDpmLC4SsxKH6PGLRbeFsvgAPOqLnUqEDM</string>
	<key>GCM_SENDER_ID</key>
	<string>506673235433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abinaya.HW72</string>
	<key>PROJECT_ID</key>
	<string>berkeley-spots-2b0c6</string>
	<key>STORAGE_BUCKET</key>
	<string>berkeley-spots-2b0c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506673235433:ios:92213423e3dffe4d56f778</string>
</dict>
</plist>